/* USE NON-SYMBOLIC ICONS ON XFCE PANEL */
.xfce4-panel image { -gtk-icon-style: regular; }


/* DESKTOP ICON LABEL TEXT/BACKGROUND COLOR CHANGE */

/* default label state */
XfdesktopIconView.view .label {
	background: #fcfcfc;
	color: black;
	text-shadow: none;
	/*text-shadow: 1px 1px 2px black;*/
}

/* active (selected) label state */
XfdesktopIconView.view .label:active {
	background: #87919b;
	color: white;
	/*text-shadow: 1px 3px 3px blue;*/
}


/* CUSTOM SELECTION COLORS */
@define-color selection_bg_color #ffe500;
@define-color selection_txt_color #111;

.rubberband, rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .content-view .rubberband {
	border: 1px solid @selection_bg_color;
	color: @selection_txt_color;
	background-color: alpha (@selection_bg_color, 0.1); 
}

entry selection {
	color: @selection_txt_color;
	background-color: @selection_bg_color;
}

.view text selection { 
	color : @selection_txt_color;
	background-color: @selection_bg_color;
}

.view:selected { 
	color : @selection_txt_color;
	background-color: @selection_bg_color;
}

/* CHANGES FILE CHOOSER SIDE BAR MENU SELECTED COLORS BUT BUGGY
row:selected {
	color: @selection_txt_color;	
	background-color: @selection_bg_color;
}
*/

menu menuitem:hover {
	color: @selection_txt_color;
	background-color: @selection_bg_color; 
}

calendar:selected {
	color: @selection_txt_color;	
	background-color: @selection_bg_color;
}

/*********************************/

/* ALSO CHANGES MENULIST SELECTION COLORS
modelbutton.flat:selected, .menuitem.button.flat:selected, treeview.view:selected, iconview:selected {
  background-color: @selection_bg_color; 
  color: #000;
}
*/
