/****************************************
* USE NON-SYMBOLIC ICONS ON XFCE PANEL *
****************************************/
.xfce4-panel image { -gtk-icon-style: regular; }


/**************************
* CUSTOM SELECTION COLORS *
**************************/

@define-color selection_bg_color #ffe500;

.rubberband, rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .content-view .rubberband {
	border: 1px solid @selection_bg_color;
	background-color: alpha (@selection_bg_color, 0.1); 
}


entry selection {
	color: black;
	background-color: @selection_bg_color;
}


.view text selection { 
	color : black;
	background-color: @selection_bg_color;
}


.view:selected:focus, iconview:selected:focus, .view:selected, iconview:selected { 
	color : black;
	background-color: @selection_bg_color;
}


.menuitem.button.flat:selected, treeview.view:selected:focus, treeview.view:selected, row:selected, calendar:selected {
	color: black;	
	background-color: @selection_bg_color;
}


.menuitem.button.flat:disabled:selected, row:disabled:selected, calendar:disabled:selected {
	color: black;
	background-color: @selection_bg_color;
}


menu menuitem:hover, .menu menuitem:hover, .context-menu menuitem:hover {
	color: black;
	background-color: @selection_bg_color; }

/*********************************/